{{ define "main" }}

<!-- Tag Title -->
{{ if and .Title (eq .Type "tags") }}
<h1 class="mb-14">#{{ .Title }}</h1>
{{ end }}

<!-- $pages --> 
{{ $pages := union .RegularPages .Sections }}<!---->
{{ if .IsHome }}<!---->
{{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}<!---->
{{ end }}

<!-- Articles -->
{{ $paginator := .Paginate $pages }} {{ range $index, $page := $paginator.Pages
}}<!---->

<!-- avatar -->
{{ if and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0) }}<!---->

{{ $avatar_url := $.Scratch.Get "avatar_url" }}<!---->
{{ if or $avatar_url site.Params.name }}
<div class="-mt-2 mb-8 flex items-center border-b-2 pb-6 relative">
  {{ if $avatar_url }}
  <div
    class="ltr:-ml-1 rtl:-mr-1 ltr:mr-5 rtl:ml-5 h-24 w-24 shrink-0 rounded-full border-[0.5px] border-black/10 bg-white/50 p-3 dark:!bg-white/90"
  >
    <img
      class="my-0 h-full w-full rounded-full !bg-black/5 hover:animate-spin dark:!bg-black/80"
      src="{{ $avatar_url }}"
      alt="{{ site.Params.name | default site.Title }}"
    />
  </div>
  {{ end }}<!---->
  {{ if site.Params.name }}
  <div>
    <div class="mb-1 mt-3 text-2xl font-medium text-black dark:text-white">
      {{ site.Params.name }}
    </div>
    <div class="break-words">
      {{ site.Params.bio | default (print `A personal blog by `
      site.Params.name) }}
    </div>
  </div>

  <div class="absolute right-2">
    <button id="clearCacheBtn" class="p-2 text-gray-600 hover:text-gray-800 transition duration-300">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
      </svg>
    </button>
</div>
  {{ end }}
</div>
{{ end }}<!---->

{{ end }}

<section class="relative my-6 first-of-type:mt-0 last-of-type:mb-0">
  <div class="flex flex-row justify-between items-center">
    <div class="flex-grow pr-4">
      {{ if gt .Weight 0 }}
      <span class="mb-1 inline-block text-xs tracking-wider text-orange-500">Featured</span>
      {{ end }}
      <h2 class="!my-0 text-xl">{{ .Title }}</h2>
      {{ if .Params.SubTitle }}
      <span class="block text-sm px-2 opacity-80">{{ .Params.SubTitle }}</span>
      {{ end }}
      <time class="text-xs antialiased opacity-60">{{ .Date | time.Format ":date_medium" }}</time>
    </div>
    {{ if .Params.thumbnail }}
    <div class="flex-shrink-0 w-24 h-24">
      <img src="{{ .Params.thumbnail }}" alt="{{ .Title }}" class="w-full h-full object-cover rounded-md not-prose">
    </div>
    {{ end }}
    <a class="absolute inset-0 text-[0]" href="{{ .Permalink }}">{{ .Title }}</a>
  </div>
</section>


{{ end }}

<!-- Pagination -->
{{ $paginator := .Paginator }}
{{ if gt $paginator.TotalPages 1 }}
<nav class="mt-14 flex justify-center items-center space-x-2">
  {{ if $paginator.HasPrev }}
    <a href="{{ $paginator.Prev.URL }}" class="px-3 py-2 text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-200">←</a>
  {{ end }}
  
  {{ $ellipsisShown := false }}
  {{ range $paginator.Pagers }}
    {{ if or (le .PageNumber 3) (ge .PageNumber (sub $paginator.TotalPages 2)) (and (ge .PageNumber (sub $paginator.PageNumber 2)) (le .PageNumber (add $paginator.PageNumber 2))) }}
      <a href="{{ .URL }}" class="{{ if eq . $paginator }}px-3 py-2 bg-primary text-blue-500 font-bold{{ else }}px-3 py-2 text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-200{{ end }}">
        {{ .PageNumber }}
      </a>
      {{ $ellipsisShown = false }}
    {{ else if not $ellipsisShown }}
      <span class="px-2 py-1 text-gray-600 dark:text-gray-400">...</span>
      {{ $ellipsisShown = true }}
    {{ end }}
  {{ end }}
  
  {{ if $paginator.HasNext }}
    <a href="{{ $paginator.Next.URL }}" class="px-3 py-2 text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-200">→</a>
  {{ end }}
</nav>
{{ end }}

{{ end }}
