{{ define "main" }}

<!-- Tag Title -->
{{ if and .Title (eq .Type "tags") }}
<h1 class="mb-14">#{{ .Title }}</h1>
{{ end }}

<!-- $pages -->
{{ $pages := union .RegularPages .Sections }}<!---->
{{ if .IsHome }}<!---->
{{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}<!---->
{{ end }}

<!-- Articles -->
{{ $paginator := .Paginate $pages }} {{ range $index, $page := $paginator.Pages
}}<!---->

<!-- avatar -->
{{ if and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0) }}<!---->

{{ $avatar_url := $.Scratch.Get "avatar_url" }}<!---->
{{ if or $avatar_url site.Params.name }}
<div class="-mt-2 mb-8 flex items-center border-b-2 pb-6">
  {{ if $avatar_url }}
  <div
    class="ltr:-ml-1 rtl:-mr-1 ltr:mr-5 rtl:ml-5 h-24 w-24 shrink-0 rounded-full border-[0.5px] border-black/10 bg-white/50 p-3 dark:!bg-white/90"
  >
    <img
      class="my-0 h-full w-full rounded-full !bg-black/5 hover:animate-spin dark:!bg-black/80"
      src="{{ $avatar_url }}"
      alt="{{ site.Params.name | default site.Title }}"
    />
  </div>
  {{ end }}<!---->
  {{ if site.Params.name }}
  <div>
    <div class="mb-1 mt-3 text-2xl font-medium text-black dark:text-white">
      {{ site.Params.name }}
    </div>
    <div class="break-words">
      {{ site.Params.bio | default (print `A personal blog by `
      site.Params.name) }}
    </div>
  </div>
  {{ end }}
</div>
{{ end }}<!---->

{{ end }}

<section class="relative my-10 first-of-type:mt-0 last-of-type:mb-0">
  {{ if gt .Weight 0 }}
  <span class="mb-1 inline-block text-xs tracking-wider text-orange-500"
    >Featured</span
  >
  {{ end }}
  <h2 class="!my-0">{{ .Title }}</h2>
  <time class="text-xs antialiased opacity-60"
    >{{ .Date | time.Format ":date_medium" }}</time
  >
  <a class="absolute inset-0 text-[0]" href="{{ .Permalink }}">{{ .Title }}</a>
</section>
{{ end }}

<!-- Pagination -->
{{ $paginator := .Paginator }}
{{ if gt $paginator.TotalPages 1 }}
<nav class="mt-14 flex justify-center items-center space-x-2">
  {{ if $paginator.HasPrev }}
    <a href="{{ $paginator.Prev.URL }}" class="btn !px-3 !py-2">←</a>
  {{ end }}
  
  {{ $ellipsisShown := false }}
  {{ range $paginator.Pagers }}
    {{ if or (le .PageNumber 3) (ge .PageNumber (sub $paginator.TotalPages 2)) (and (ge .PageNumber (sub $paginator.PageNumber 2)) (le .PageNumber (add $paginator.PageNumber 2))) }}
      <a href="{{ .URL }}" class="{{ if eq . $paginator }}btn bg-primary text-white{{ else }}btn{{ end }} !px-3 !py-2">
        {{ .PageNumber }}
      </a>
      {{ $ellipsisShown = false }}
    {{ else if not $ellipsisShown }}
      <span class="px-2 py-1">...</span>
      {{ $ellipsisShown = true }}
    {{ end }}
  {{ end }}
  
  {{ if $paginator.HasNext }}
    <a href="{{ $paginator.Next.URL }}" class="btn !px-3 !py-2">→</a>
  {{ end }}
</nav>
{{ end }}

{{ end }}
