<!-- layouts/partials/sidebar.html -->
<aside class="fixed top-14 right-4 w-48 max-h-[calc(100vh-5rem)] overflow-y-auto bg-white dark:bg-gray-800 shadow-md rounded-lg p-4 text-sm hidden lg:block">
    <!-- Recent Posts -->
    <div class="mb-6">
      <h3 class="text-lg font-semibold mb-2 text-gray-700 dark:text-gray-300 border-b pb-1">Recent Posts</h3>
      <ul class="space-y-1">
        {{ range first 5 (where .Site.RegularPages "Type" "posts") }}
          <li>
            <a href="{{ .Permalink }}" class="text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-200 transition-colors duration-200">
              {{ .Title }}
            </a>
          </li>
        {{ end }}
      </ul>
    </div>

    <!-- Categories -->
    <div class="mb-6">
      <h3 class="text-lg font-semibold mb-2 text-gray-700 dark:text-gray-300 border-b pb-1">Categories</h3>
      <ul class="space-y-1">
        {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
          <li>
            <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}" class="text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-200 transition-colors duration-200">
              {{ $name }} ({{ $taxonomy.Count }})
            </a>
          </li>
        {{ end }}
      </ul>
    </div>
</aside>
